body {
  font-family: 'Montserrat', sans-serif;
  overflow-x: hidden;
  color: #FFFFFF;
  background: #010101;
  min-width: 375px;
}

.wrapper {
  max-width: 1180px;
  margin: 0 auto;
  padding: 0 10px;
}

.wrapper_white {
  background-color: white;
}

.wrapper_header {
  background-image: url(/diplom/images/header.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.wrapper_header .navbar {
  padding: 0;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(-17.5%, #010101), to(rgba(1, 1, 1, 0)));
  background: linear-gradient(180deg, #010101 -17.5%, rgba(1, 1, 1, 0) 100%);
}

.wrapper_header .navbar-light .navbar-nav .nav-link.active {
  color: #FFFFFF;
  font-weight: 600;
}

.wrapper_header .navbar-light .navbar-nav .nav-link {
  color: #C7C7C7;
  font-weight: 500;
  font-size: 18px;
  line-height: 32px;
  text-transform: uppercase;
}

.wrapper_header .navbar-light .navbar-brand {
  margin: 0 0 0 120px;
}

.wrapper_header .navbar-expand-lg .navbar-collapse {
  margin-left: 35vw;
  margin-right: 100px;
}

@media (max-width: 1230px) {
  .wrapper_header .navbar-expand-lg .navbar-collapse {
    margin-left: 25vw;
    margin-right: 100px;
  }
}

.about_project {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-item-align: center;
      align-self: center;
  margin-top: 170px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 0 10px;
}

.about_project .about_project_title {
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 600;
  font-size: 64px;
  line-height: 64px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 16px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.about_project .about_project_text {
  font-weight: 500;
  font-size: 18px;
  line-height: 26px;
  text-align: center;
  font-style: normal;
  width: 50%;
  margin-bottom: 2rem;
}

.about_project .about_project_button button {
  border: none;
  background: #FFFFFF;
  font-weight: 600;
  font-size: 18px;
  line-height: 24px;
  text-transform: capitalize;
  color: #010101;
  padding: 16px;
}

.about_project .arrow img {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 128px;
  margin-bottom: 110px;
}

.aside {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  bottom: 35%;
  right: -80px;
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
}

.aside_networks {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

.aside_networks_item {
  font-family: Oswald;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 20px;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  background: #010101;
  padding: 6px;
}

.aside_networks_item {
  margin-right: 2px;
}

.navbar-light .navbar-toggler-icon {
  background-image: url(/diplom/images/nav.svg);
}

.navbar-light .navbar-toggler {
  border: none;
}

@media (max-width: 920px) {
  header {
    margin-top: 10%;
  }
  .about_project {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-item-align: center;
        align-self: center;
    margin-top: 170px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 0 10px;
  }
  .about_project .about_project_title {
    font-size: 40px;
    line-height: 50px;
    margin-bottom: 16px;
    text-align: center;
  }
  .about_project .about_project_text {
    font-size: 14px;
    line-height: 20px;
    width: 50%;
  }
}

@media (max-width: 500px) {
  .wrapper_header {
    background-image: url(/diplom/images/1.png);
  }
  header {
    margin-top: 30%;
  }
  .wrapper_header .navbar-light .navbar-brand {
    margin-left: 16px;
  }
  .about_project .about_project_title {
    margin-bottom: 30px;
    text-align: center;
  }
  .about_project_text {
    display: none;
  }
  .aside {
    display: none;
  }
  .about_project .about_project_button button {
    margin-left: -100px;
    background: transparent;
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
    text-transform: capitalize;
    color: white;
    padding: 12px;
    border: 1px solid #FFFFFF;
  }
  .about_project_button {
    margin-left: 100px;
  }
  .arrow {
    padding-top: 250px;
  }
}

.statistics_block {
  position: relative;
}

.statistics_text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 125px 20px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.statistics_shadow {
  font-family: 'Oswald';
  font-style: normal;
  font-weight: bold;
  font-size: 48px;
  line-height: 64px;
  text-align: right;
  text-transform: uppercase;
  color: #1E1E1E;
  opacity: 0.7;
}

.statistics_number {
  font-family: 'Oswald';
  font-style: normal;
  font-weight: bold;
  font-size: 68px;
  line-height: 76px;
  z-index: 2;
  margin-right: 10px;
}

.statistics_title {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 500;
  font-size: 28px;
  line-height: 33px;
  z-index: 2;
  text-transform: uppercase;
}

.two {
  position: absolute;
  bottom: -40px;
  left: -20px;
}

.statistics_project {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.statistics_filming {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-item-align: center;
      align-self: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-left: 50px;
}

.statistics_filming .two {
  bottom: -70px;
  left: -70px;
}

.statistics_filming .statistics_title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  bottom: 30px;
  left: 95px;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  margin-left: 17px;
}

.statistics_filming .statistics_number {
  position: absolute;
  bottom: 29px;
  left: -4px;
}

.statistics_brand {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-item-align: center;
      align-self: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.statistics_brand .two {
  left: -45px;
}

.statistics_view {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-item-align: center;
      align-self: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.statistics_view .two {
  position: absolute;
  bottom: -40px;
  left: -60px;
}

@media (max-width: 1120px) {
  .statistics_text {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin: 0 30px;
  }
  .statistics_text .statistics_view .two {
    margin-left: 40px;
  }
  .statistics_text .statistics_shadow {
    margin-top: 50px;
  }
}

.statistics_photo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 121px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.statistics_photo_block {
  position: relative;
}

.photo_title {
  position: absolute;
  font-family: 'Oswald', sans-serif;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 40px;
  line-height: 64px;
  bottom: 10px;
  left: 50%;
  -webkit-transform: translate(-50%);
          transform: translate(-50%);
}

.title {
  font-family: Oswald;
  font-style: normal;
  font-weight: normal;
  font-size: 28px;
  line-height: 34px;
  text-transform: uppercase;
  margin-top: 10px;
}

@media (max-width: 720px) {
  .statistics_photo {
    margin-bottom: 56px;
  }
  .statistics_photo_block {
    padding-top: 10px;
    margin: 0 auto;
  }
}

@media (max-width: 600px) {
  .statistics_text {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 0 auto;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 125px 20px;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .statistics_shadow {
    font-size: 32px;
    line-height: 36px;
  }
  .statistics_number {
    font-size: 44px;
    line-height: 50px;
  }
  .statistics_title {
    font-size: 16px;
    line-height: 20px;
  }
  .statistics .statistics_brand .two {
    left: 10px;
  }
  .statistics .statistics_filming .statistics_title {
    left: 80px;
  }
  .statistics .statistics_filming .statistics_number {
    left: 20px;
  }
}

@media (max-width: 500px) {
  .statistics_text {
    padding: 46px 20px 110px 20px;
    -ms-flex-line-pack: justify;
        align-content: space-between;
  }
  .statistics_text {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 0 auto;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.history {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 120px;
}

.history .paragraph {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  margin-top: 32px;
}

.history_pictures {
  width: 50%;
}

.history_pictures::before {
  content: '';
  background: linear-gradient(271.02deg, rgba(0, 0, 0, 0), black);
  -webkit-filter: blur(50px);
          filter: blur(50px);
  height: 100%;
  width: 10%;
  position: absolute;
  -webkit-filter: blur(1px);
          filter: blur(1px);
}

@media (max-width: 860px) {
  .history_text {
    z-index: 1;
    position: absolute;
  }
  .history_pictures {
    width: 100%;
    overflow-x: hidden;
  }
}

.gallery {
  margin-bottom: 120px;
}

.photo_block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.photo_block_title {
  font-family: 'Oswald';
  font-style: normal;
  font-weight: normal;
  font-size: 32px;
  line-height: 34px;
  text-align: center;
  text-transform: uppercase;
}

.photo_block_title::after {
  content: "";
  width: 60%;
  height: 1px;
  background-color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 16px auto;
  color: white;
}

.photo_block-big {
  background: url(/diplom/images/block1.png), rgba(0, 0, 0, 0.8);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 551px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 2px;
}

.photo_block-big .photo_block_button button {
  font-family: Raleway;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
  text-transform: capitalize;
  color: #010101;
  background: #FFFFFF;
  border: none;
  padding: 12px;
}

.photo_block .photo-smaller_cloud {
  background: url(/diplom/images/block1.1.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 274px;
  margin-bottom: 2px;
}

.photo_block .photo-smaller_rafting {
  background: url(/diplom/images/block1.2.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 277px;
}

.photo_block .photo-smaller_race {
  background: url(/diplom/images/block2.1.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 274px;
  margin-right: 2px;
}

.photo_block .photo-smaller_suv {
  background: url(/diplom/images/block2.2.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 274px;
  margin-right: 2px;
}

.photo_block .photo-smaller_sunset {
  background: url(/diplom/images/block2.3.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 274px;
}

.photo_block-bottom {
  margin-bottom: 40px;
}

.col-12,
.col-4,
.col-8 {
  padding: 0;
}

.button_more button {
  border: 1px solid #FFFFFF;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: #FFFFFF;
  background-color: black;
  margin: auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 11px 16px;
}

.partners {
  padding: 120px 0;
}

.partners_title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 67px;
  -ms-flex-line-pack: justify;
      align-content: space-between;
}

.partners .title {
  color: black;
}

.partners_images {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-line-pack: justify;
      align-content: space-between;
  height: 350px;
}

.partners .img_item {
  margin-right: 50px;
  -ms-flex-line-pack: justify;
      align-content: space-between;
}

.partners .socar,
.partners .levitate {
  margin-right: 0;
}

.partners_reviews .title {
  color: white;
}

.users_reviews {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 33.333333%;
          flex: 0 0 33.333333%;
}

.users_reviews .review {
  width: 33.333333%;
  margin-right: 3px;
}

.users_reviews .review:nth-child(1) {
  padding: 32px;
  background: #C7C7C7;
}

.users_reviews .review:nth-child(2) {
  padding: 24px 32px 26px;
  background: #1E1E1E;
}

.users_reviews .review:nth-child(2) .review_text {
  color: white;
}

.users_reviews .review:nth-child(2) .user_name,
.users_reviews .review:nth-child(2) .user_activity:nth-child(2) {
  color: #ffffff;
}

.users_reviews .review:nth-child(3) {
  padding: 32px;
  background: #C7C7C7;
}

.users_reviews .review_title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 24px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.users_reviews .review_title .user_info {
  margin-right: 20px;
}

.users_reviews .review_title .user_info .user_name {
  font-family: 'Oswald', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  color: #010101;
  margin-bottom: 8px;
}

.users_reviews .review_title .user_info .user_activity {
  font-family: 'Raleway', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 20px;
  color: #010101;
}

.users_reviews .review_text {
  font-family: 'Raleway', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  color: #010101;
}

.users_reviews .review_title .user_info .second_name {
  color: white;
}

.partners_reviews {
  padding-bottom: 0;
}

.gradient {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(11.52%, #010101), to(rgba(41, 40, 40, 0.76)));
  background: linear-gradient(180deg, #010101 11.52%, rgba(41, 40, 40, 0.76) 100%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.gradient .mountains_big {
  position: relative;
  top: 50px;
  left: 110px;
}

.gradient .mountains_small {
  position: relative;
  top: 50px;
  left: 65px;
}

footer {
  margin: 20px auto;
}

footer .navbar-brand {
  position: absolute;
}

footer .navigation_block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer .navigation_block .navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 40px;
}

footer .navigation_block .navigation ul {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

footer .navigation_block .nav-item {
  margin-right: 10px;
}

footer .navigation_block .nav-link {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 32px;
  text-transform: uppercase;
  color: #C7C7C7;
}

footer .navigation_block .nav-link.active {
  font-weight: 600;
  color: #FFFFFF;
}

footer .navigation_block .active-white {
  color: #FFFFFF;
}

footer .navigation_block .social_network {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

footer .navigation_block .social_network .networks_item:not(:last-child) {
  margin-right: 48px;
  margin-bottom: 24px;
}

footer .navigation_block .projekt_name {
  font-weight: 500;
  font-size: 16px;
  line-height: 32px;
  text-transform: uppercase;
  color: #FFFFFF;
}
/*# sourceMappingURL=style.css.map */