$maintext: #505F98;
$text: #6F7CB2;
$logo: #37447E;
$title: #091133;
$grey: #5D6970;
$unactive: #929ECC;

body {
    font-family: "Roboto", sans-serif;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

.section_flex {
    display: flex;
    flex: 0 0 50%;
    justify-content: space-between;
}

%btn {
    font-style: normal;
    font-weight: 500;
    text-align: center;
    color: #FFFFFF;
    background: #111B47;
    border-radius: 2px;
    padding: 5px 30px 5px 30px;
    border: 2px solid $title;
    cursor: pointer;
}

%nav {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
}

%logo {
    font-weight: 900;
    font-size: 26px;
    line-height: 38px;
    color: $logo;
}




.wrapper {
    max-width: 1110px;
    margin: 0 auto;
    padding: 0 10px;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;


    button {
        font-size: 12px;
        width: 140px;
        height: 26px;
    }
    .logo{
        margin-right: 15%;
    }

}


.nav {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    padding-left: 0;
    @extend %nav;

    li {
        padding-right: 60px;

        &:last-child {
            padding-right: 0px;
        }

        >a {
            color: $maintext;
            &:hover{
                color: $title;
                font-weight: 700;
                }
        }
        
    }
}


.logo {
    @extend %logo;
}

button {
    @extend %btn;
    &:hover{
        background-color: $maintext;
        transition-duration: 0.2s;
        border-color: $maintext;
        box-shadow: 3px 3px 10px 0px #090c16bf;
        color: $title;
    }
}

//-----------section_first-----------
.section_first {
    margin-top: 20%;

}

.container {
    display: flex;
    flex-direction: column;
    width: 50%;

    h1 {
        font-size: 50px;
        line-height: 66px;
        letter-spacing: 1px;
        color: $title;
    }

    p {
        font-weight: normal;
        font-size: 18px;
        line-height: 30px;
        color: $maintext;
    }

    .buttons {
        margin-top: 70px;
    }

    button {
        font-weight: 500;
        font-size: 16px;
        line-height: 26px;
        text-align: center;

    }

    .transparent {
        background: transparent;
        color: $title;
        border: 2px solid #091133;
        box-sizing: border-box;
        margin-left: 30px;
        &:hover{
        background-color: $maintext;
        transition-duration: 0.2s;
        border-color: $maintext;
        box-shadow: 3px 3px 10px 0px #090c16bf;
        color: $title;
        }
    }
}

.section_first__image {
    position: absolute;
    top: 0;
    right: 0;
    z-index: -1;
}

//-----------section_second-----------

.section_second {
    margin-top: 40%;
    margin-bottom: 20%;

}

.text_title {
    h2 {
        font-weight: 500;
        font-size: 36px;
        line-height: 48px;
        color: $title;
    }

    p {
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 26px;
        color: $text;
    }
}

.text {
    width: 50%;

    &_goes {
        display: flex;
        margin-top: 80px;

        h3 {
            font-weight: 500;
            font-size: 16px;
            line-height: 26px;
            color: $title;
        }

        p {
            font-weight: normal;
            font-size: 12px;
            line-height: 18px;
            color: $grey;
        }

        &_item:not(:last-child) {
            margin-right: 30px;
        }
    }

}

//-----------section_third-----------

.section_third {
    margin-bottom: 15%;

    .text {
        width: 40%;

        &_title {
            button {
                margin-top: 20px;
            }
        }
    }
}

//-----------section_fourth-----------

.section_fourth {
    position: relative;
    display: flex;
    overflow: hidden;

    .text {
        margin: 20% auto 15% auto;
        text-align: center;
        width: 45%;

        .kit {
            color: #37447E;
            margin: 0 0 60px 0;
        }
    }

    .price {
        margin-top: 40px;
        font-weight: 500;
        font-size: 50px;
        line-height: 66px;
        text-align: center;
        letter-spacing: 1px;
        color: #222F65;
    }

    .one_price {
        font-size: 14px;
        line-height: 24px;
        text-align: center;
        color: #5D6970;
        margin-bottom: 9px;
    }

}

.footer_img {
    position: absolute;
    top: 10%;
    z-index: -1;
}

//-----------footer-----------
.footer {
    padding-top: 60px;
    background-color: #E7ECFF;
    ;

    &_top {
        display: flex;
        justify-content: space-between;
        margin-bottom: 20px;

        .copyright {
            font-weight: 500;
            font-size: 14px;
            line-height: 24px;
            color: #939EA4;
        }

    }

    button {
        font-size: 12px;
        line-height: 18px;
        width: 109px;
        height: 26px;
        padding: 0;
    }

    .footer_botoom {
        display: flex;
        justify-content: space-between;
        padding-bottom: 30px;
        padding-top: 20px;

        .nav {
            li>a {
                color: $unactive;
                ;
            &:hover{
                color:$title;
                transition-duration: 0.2s;
            }
            }
        }


        .social_links {
            display: flex;
            justify-content: end;
            align-items: center;

            a:not(:last-child) {
                margin-right: 30px;
            }
            path:hover{
                fill: $title;
                transition-duration: 0.2s;
            }
        
        }
    }
}





.line {
    background: #CDD1D4;
    width: 100%;
    height: 1px;
}