* {
    font-family: 'Lato', sans-serif;
    overflow-x: hidden;
}

body {
    margin: 0px;
    overflow-x: hidden;
}


header {
    width: 100%;
    min-height: 665px;
    background: url(images/header.png) no-repeat right top;
    background-size: contain;
}

@media(max-width: 900px) {
    header {
        width: 100%;
        height: 100%;
        background: url(images/header.png) no-repeat right top;
        background-size: contain;
    }
}

@media(max-width: 720px) {
    header {
        background: #F4F6F9;
        width: 100%;
        overflow: hidden;
    }

    .block_text {
        align-items: center;
    }
}


.container {
    max-width: 1075px;
    margin: 0 auto;
    padding: 0 15px;
}

.block_text {
    display: flex;
    flex-direction: column;
}

.icon {
    display: flex;
    align-items: center;
    align-content: center;
    margin-top: 50px;
    margin-bottom: 100px;
}


.icon p {
    font-size: 24px;
    line-height: 29px;
    letter-spacing: -0.02em;
    color: #5282F0;
    font-weight: bold;
    margin-left: 4px;
}

.text_h {
    width: 50%;
}

.text_h h1 {
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 48px;
    display: flex;
    align-items: flex-end;
    letter-spacing: 0.03em;
    color: #333333;
}

.text_p {
    width: 40%;
}

.text_p p {
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 26px;
    color: #4F4F4F;
    Weight: 400;
}

button {
    outline: none;
    border: none;
    cursor: pointer;
    background-color: transparent;
    color: transparent;
    margin-top: 35px;
}


@media(max-width: 720px) {
    .icon {
        margin-top: 30px;
        margin-bottom: 65px;
    }

    .text_h h1 {
        font-size: 30px;
        line-height: 40px;

    }

    .text_h {
        min-width: 290px;

    }

    .text_p {
        width: 290px;
    }

}

@media(max-width: 373px) {
    .buttons {
        margin-left: 70px;
    }

    .header {
        min-height: 100%;
    }

    .text_h {
        width: 100%;

    }

    .text_p {
        width: 290px;
    }
}

/* --------------------second block -----------------------------*/

.football-experience {
    background: linear-gradient(270deg, #FFFFFF 50%, rgba(255, 255, 255, 0) 80.14%), rgba(255, 255, 255, 0.4) url(images/second.png) no-repeat left bottom;
    background-size: contain;
    width: 100%;

}

.football-experience_container {
    justify-content: space-between;
    display: flex;
    align-items: center;
}

.img_container {
    width: 50%;
    overflow-x: visible;

}

.text_container {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.img {
    position: relative;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-right: 70px;
    overflow-x: visible;
}

.football-scores {
    position: relative;
    width: 80%;
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    left: -2%;
    top: 40px;
    z-index: 2;
    flex: 0 1 auto;
    max-width: 360px;
    min-width: 345px;
}

.football-videos {
    position: relative;
    left: 12em;
    width: 80%;
    height: 80%;
    top: -70px;
    display: flex;
    flex: 0 1 auto;
    max-width: 310px;
    /* min-width: 345px; */

}

.text_container {
    width: 50%;
    padding-left: 70px;
}

.text_container h5 {
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 21px;
    color: #00ADEE;
    cursor: pointer;
}

.text_container h3 {
    font-style: normal;
    font-weight: bold;
    font-size: 28px;
    line-height: 37px;
    color: #333333;
}

.text_container p {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 23px;
    color: #4F4F4F;
    width: 75%;
}

@media(max-width: 720px) {
    .football-experience {
        background: linear-gradient(170deg, #FFFFFF 60%, rgba(255, 255, 255, 0) 80.14%), rgba(255, 255, 255, 0.4) url(images/second.png) no-repeat center bottom;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .football-experience_container {
        display: flex;
        flex-direction: column-reverse;
        overflow: visible;
        ;
    }

    .football-experience .text_container {
        width: 80%;
        align-items: center;
        margin-bottom: 150px;
        padding-left: 0px;
        margin-bottom: 20px;
    }

    .football-experience .text_container h3 {
        width: 50%;
        text-align: center;

    }

    .football-scores{
        min-width: 100%;
        height: 100%;
    }
    
    .football-videos {
        /* width: 100%; */
        height: 100%;
        overflow: visible;
    }

    .img {
        padding-right: 180px;
    }

    .img_container {
        width: 80%;
        padding-right: 30px;
    }
}

@media(max-width: 414px) {
    .img_container {
        width: 80%;
    }

    .img {
        padding-left: 30px;
    }
}
@media(max-width: 380px) {
    .img_container {
        width: 70%;
    }
    .football-scores {
        left: 40px;
        top: 40px;
    }
    
    .football-videos {

        top: -30px;
        left: 130px;

    
    }


}

/* ----------------third block-----------------*/
.interface {
    height: 716px;
    background: url(images/sec\ 2.png) center;
    width: 100%;
    background-repeat: no-repeat;
}

.text_container .paragraph {
    width: 64%;
}



@media(max-width: 720px) {
    .interface {
        background: none;
        height: 100%;
    }

    .interface .text_container {
        margin: 0 auto;
        width: 70%;
        padding-left: 100px;
        text-align: center;
        margin-top: -50px;
    }

    .interface h3,
    .interface h5 {
        width: 80%;
    }

    .interface p {
        margin-left: 30px;
        text-align: justify;
    }

    .interface::after {
        content: url(images/sec_2_копия_ava9xa.png);
        display: flex;
        align-items: center;
        align-self: center;
        justify-content: center;
    }
}

@media(max-width: 370px) {
    .interface .text_container {
        margin-top: -10px;
    }

}


/* ---------------- fourth block -----------------*/
.feautures {
    background: url(images/4_block.png);
    height: 100%;
    width: 100%;
    padding-bottom: 25px;
}

.feautures h3 {
    color: white;
    font-style: normal;
    font-weight: bold;
    font-size: 28px;
    line-height: 37px;
    text-align: center;
    padding-top: 74px;
    padding-bottom: 30px;
}

.features_grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    column-gap: 85px;
    row-gap: 30px;
}

.features_element p {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 23px;
    color: #FFFFFF;
}

.features_element p::before {
    content: "•";
}

@media(max-width: 720px) {
    .features_grid {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(9fr);
        column-gap: 0px;
    }

    .feautures {
        background: #FAFAFA;
    }

    .feautures .container h3 {
        color: #333333;
    }

    .features_grid p {
        color: #4F4F4F;
        text-align: center;
    }

    .features_element svg {
        padding-left: 50%;

    }

    .features_element .color_svg {
        fill: #00ADEE;
    }

    .features_element p::before {
        content: "";
    }
}



/* ---------------- fifth block -----------------*/
.users-reviews{
    height: 430px;
    display: flex;
    flex: 0 1 200px;
    flex-direction: column;
    align-items: center;
    margin-bottom: 40px;
    position: relative;

}

.users-reviews .title {
    margin: 0px;
    padding-top: 70px;
    padding-bottom: 70px;
}

.title {
    font-style: normal;
    font-weight: bold;
    font-size: 28px;
    line-height: 37px;
    color: #333333;
    text-align: center;
    overflow: hidden;
}

.users-reviews h3 {
    margin-top: 70px;
    text-align: center;
}

.cards {
    display: flex;
    justify-content: space-between;
    flex: 1 0 auto;
    position: relative;
}

.card {
    width: 24%;
    border: 1px solid #828282;
    box-sizing: border-box;
    border-radius: 4px;
    padding: 15px;
    height: 100%;
    overflow: hidden;
}

.card_Darren {
    width: 24%;
    border: 1px solid #828282;
    box-sizing: border-box;
    border-radius: 4px;
    padding: 15px;
    height: 100%;
    overflow: hidden;
}


.card_title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.name {
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 19px;
    color: #333333;
    margin-left: -30%;
}

.card_text {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 18px;
    color: #4F4F4F;
    margin-top: 15px;
}

.firs_card {
    margin-left: -180px;
    position: relative;
    overflow:visible;
}

.arrow_left {
    cursor: pointer; 
    right: -33px;
    position: absolute;
    z-index: 2;
    top: 60px;
}

.last_card {
    position: relative;
    margin-right: -180px;
    overflow: visible;
}

.arrow_right {
    cursor: pointer; 
    left: -33px; 
    top: 60px;
    position: absolute;
    z-index: 2;
}

.twitter {
    cursor: pointer;
}

.gradient {
    background: linear-gradient(90deg, rgba(255, 255, 255, 1) 0%, rgba(40, 40, 138, 0) 15%, rgba(9, 9, 121, 0) 85%, rgba(255, 255, 255, 1) 100%);
    width: 100%;
    height: 100%;
    position: absolute;
}

.dots {
    overflow: hidden;
    margin-bottom: 20px;
    cursor: pointer;
    margin-top: 50px;
}


@media(max-width: 720px) {
    .card {
        display: none;
    }

    .card_Darren {
        width: 80%;
        border: 1px solid #828282;
        box-sizing: border-box;
        border-radius: 4px;
        padding: 20px;
        height: 100%;
        overflow: hidden;
        margin: 0 auto;
        padding-bottom: 50px;
    }

    .arrows {
        width: 65%;

    }

    .arrows .arrow_left {
        display: none;
    }

    .arrows .arrow_right {
        left: 400px;

    }

    .gradient {
        display: none;
    }
}

@media(max-width: 630px) {
    .arrows {
        width: 75%;
    }
}

@media(max-width: 600px) {
    .arrows {
        width: 80%;
    }
}

@media(max-width: 540px) {
    .arrows {
        width: 90%;
    }
}

@media(max-width: 480px) {
    .arrows {
        width: 100%;
    }
}

@media(max-width: 450px) {
    .arrows {
        width: 115%;
    }
}

@media(max-width: 400px) {
    .arrows {
        width: 140%;
    }
}

@media(max-width: 415px) {
    .arrows {
        width: 135%;
    }
}


/* ---------------- six block -----------------*/
.sports-networks {
    background: #FAFAFA;
}

.sports-networks .title {
    padding-top: 57px;
}

.item_group {
    margin-top: 60px;
    display: flex;
    justify-content: space-between;
    text-align: center;
    cursor: pointer;
    padding-bottom: 80px;
}


@media(max-width: 720px) {
    .item_group {
        width: 60%;
        margin: 0 auto;
        margin-top: 60px;
        display: flex;
        height: 300px;
        flex-wrap: wrap;
        justify-content: space-around;
        cursor: pointer;
    }
}




/* ---------------- seven block -----------------*/
.download_app {
    display: flex;
    justify-content: space-between;
    overflow: hidden;
    height: 100%;
}

.download_app_img {
    display: flex;
    flex: 0 0 50%;
    width: 100%;
}

.download_app_text {
    display: flex;
    flex-direction: column;
    margin-left: 60px;
    flex: 0 1 200%;

}

.download_app_text_container {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;

}

.buttons_download_app {
    outline: none;
    border: none;
    cursor: pointer;
    background-color: transparent;
    color: transparent;
    padding-bottom: 40px;
    overflow: hidden;
}


.download_app_text h3 {
    font-style: normal;
    font-weight: bold;
    font-size: 28px;
    line-height: 37px;
    color: #333333;
}

.download_app_text_container p {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 25px;
    color: #4F4F4F;
    width: 85%;
    margin: 0px;
}




@media(max-width: 720px) {
    .download_app {
        display: flex;
        flex-direction: column-reverse;
    }

    .download_app_text {
        width: 80%;
        text-align: center;
    }

    .download_app_text p {
        padding-right: 20px;
        width: 95%;
    }
}



/* ---------------- footer -----------------*/
footer {
    background: #00ADEE;
    padding-top: 23px;
    padding-bottom: 23px;

}

.footer_container {
    max-width: 90%;
    padding: 0 20px;
    margin: 0 auto;
}

.footer_item {
    display: flex;
    justify-content: space-between;
}

.sports {
    display: flex;
    align-items: center;
}

.links {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.link {
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 21px;
    color: #FFFFFF;
    margin-right: 37px;
    text-decoration: none;
}

.items {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;

}

.twit,
.fb {
    margin-right: 15px;
}

.sports p {
    font-size: 24px;
    line-height: 29px;
    letter-spacing: -0.02em;
    color: #FFFFFF;
    font-weight: bold;
    margin-left: 5px;
}

@media(max-width: 720px) {
    .footer_item {
        flex-direction: column;

    }

    .links {
        order: 2;
        margin: 40px 0;
        flex-wrap: wrap;
    }

    .items {
        justify-content: start;

    }

    .link {
        margin-right: 10px;
    }

}