* {
    margin: 0px;
}

.block {
    display: flex;
    width: 100%;
    min-height: 600px;
    flex-direction: row;
    justify-content: center;

}

.animation_star-wars {
    background-color: rgba(102, 102, 102, 0.671);
    width: 50%;
    height: 625px;
}

.swords {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    align-self: center;
    height: 100%;
    position: absolute;
    width: 50%;
}


.swords .sword {
    display: block;
    width: 180px;
    height: 5px;
    background: linear-gradient(to right, #ffffff 25px, #010101 25px, #000000 45px, #ffffff 45px);
    border: 1px solid white;
    transition-duration: 1s;
    transition-delay: 0.1s;
    position: relative;
}
.sword:nth-child(1) {
     bottom: 20px;
}
.sword:nth-child(2) {
    transform: rotate(180deg);
}
.sword:nth-child(3) {
    top: 20px;
}
.swords:active .sword:nth-child(1),
.swords:active .sword:nth-child(2),
.swords:active .sword:nth-child(3){
    display: block;
    transition-duration: 2s;
    cursor: pointer;
} 


.swords:active .sword:nth-child(1){
     opacity: 0;
      transform: translateY(-100px); 

} 
 .swords:active .sword:nth-child(2) {
    transform: rotate(227deg);
    box-shadow: 0em -1px 19px 7px #ff5454;
    bottom: 10px;
}

.swords:active .sword:nth-child(3){
    transform: rotate(-45deg);
    margin-top: -34px;
    box-shadow: 0em -1px 19px 7px #28c851;
} 


/* ----------------------circles--------------------- */
.animation_circle {
    background-color: rgba(94, 92, 92, 0.541);
    width: 50%;
    display: flex;
    justify-content: center;
    height: 625px;
}

.circles {
    display: flex;
    justify-content: center;
    align-items: center;

}

.circle {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-right: 10px;
    box-shadow: 1px 16px 10px 1px rgb(31 31 31 / 22%);
    cursor: pointer;
}

.circle:nth-child(1) {
    background: linear-gradient(rgb(255 21 224), #df67c6);

}

.circle:nth-child(2) {
    background: linear-gradient(rgb(248, 142, 234), #f143ed);
}

.circle:nth-child(3) {
    background: linear-gradient(rgb(244 72 221), #92b5ff);
}

.circle:nth-child(4) {
    background: linear-gradient(rgb(255 159 242), #598ffe);
}

.circle:nth-child(5) {
    background: linear-gradient(rgb(254 178 244), #296df9);
}

.circle:nth-child(6) {
    background: linear-gradient(rgb(227 125 254), #1c62f3);
}

.circle:nth-child(7) {
    background: linear-gradient(rgb(137 104 242), #276eff);
}


@keyframes first {
    0% {
        top: 0px;
        left:0px
    }
    10% {
        top: -25px;
        left: -45px
    }

    25% {
        top: -120px;
        left: -70px;
    }

    35% {
        top: -30px;
        left: -35px
    }

    40% {
        top: -15px;
        left: -25px
    }

    50% {
        top: 0;
        left: 0;
    }

    70% {
        top: 0;
        left: 0;
    }

    100% {
        top: 0;
        left: 0;
    }
}

@keyframes last {
    0% {
        top: 0px;
        left:0px
    }

    10% {
        top: -25px;
        left: 45px
    }

    25% {
        top: -120px;
        left: 70px;
    }

    35% {
        top: -30px;
        left: 35px
    }

    40% {
        top: -15px;
        left: 25px
    }

    50% {
        top: 0;
        left: 0;
    }

    70% {
        top: 0;
        left: 0;
    }

    100% {
        top: 0;
        left: 0;
    }
}

.circle:nth-child(1) {
    position: relative;
    animation-name: first;
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
    transition-timing-function: linear;
    animation-delay: 0;
}

.circle:nth-child(7) {
    position: relative;
    animation-name: last;
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
    animation-delay: 0.75s;
    transition-timing-function: linear;
}